        .left-card-body{

            background-image: url('left-pic.jpg');
            background-size: 30rem;
            width: 30rem;
            height: 50rem;

        }
        .left-card-lower{

            margin: 18rem 0rem 20rem 0; 

        }
        .left-card-topper{
            margin-top: 3rem;   
        }

        .right-card-body{

            background-size: 30rem;
            width: 30rem;
            height: 50rem;

        }

        .form-body{ 
            margin: 15rem 0rem 0rem 0; 

        }
        
